﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Yannis" />
    <meta name="title" content="" />
    <meta name="title" />
    <title>_Layout</title>
</head>
<body>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
