﻿<div ng-controller="Umbraco.Editors.Content.VariantCopy as vm">
    <div class="umb-dialog-body form-horizontal">
        <div class="umb-pane">
            <umb-box>
                <umb-box-header title="Variant duplication"></umb-box-header>
                <umb-box-content>
                    <p>
                        Clicking on the button below will duplicate all fields from the default language to the other languages.
                        <br />
                        No manually filled in fields will be overwritten.
                    </p>
                    A page refresh might be needed before the changes will be visible.
                </umb-box-content>
            </umb-box>
            <umb-button action="vm.clickButton()"
                        type="button"
                        button-style="action"
                        state="vm.buttonState"
                        shortcut="ctrl+alt+d"
                        label="Copy default variant values"
                        disabled="vm.buttonState === 'busy'">
            </umb-button>
        </div>
    </div>
    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
        <a class="btn btn-link" ng-click="nav.hideDialog()">
            <localize key="general_cancel">Cancel</localize>
        </a>
    </div>
</div>