﻿<div ng-controller="Umbraco.Editors.Content.VariantCopy">
    <div class="umb-dialog-body form-horizontal">
        <div class="umb-pane">
            <p>My Custom Control</p>
            <p style="color:red;font-weight:bold">{{WelcomeMessage}}</p>
        </div>
    </div>
    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
        <a class="btn btn-link" ng-click="nav.hideDialog()">
            <localize key="general_cancel">Cancel</localize>
        </a>
    </div>
</div>